body,ul,li,p,img,div,span{
    margin: 0;
    padding: 0;
    font-family:Microsoft YaHei ;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#main{
    width: 640px;
    height: 960px;
    position: absolute;
    left:50%;
    top:0;
    margin-left: -320px;
    -webkit-transform-origin: top;
    transform-origin: top;
}


.slide li{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.slide li:nth-child(1){
    background: url(../img/background02.jpg) no-repeat;
}
.slide li:nth-child(2){
    background: url(../img/background07.jpg);
    background-size: cover;
}
.slide li:nth-child(3){
    background:url(../img/background04.jpg) no-repeat;
}

.zIndex{
    z-index: 111;
}
.a1{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:30%;
    color: lightblue;
    line-height: 26px;
    font-size: 20px;
}
.a1 img{
    position: absolute;
    left: 57%;
    top: -97%;
}


@-webkit-keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes flip {
    from {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    40% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    50% {
        -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    80% {
        -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
        transform: perspective(400px) scale3d(.95, .95, .95);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
#a1 img{
    -webkit-animation: flip 1.5s linear 1.5s infinite both;
    animation: flip 1.5s linear 1.5s infinite both;
}
.a1 p:nth-child(1){
    -webkit-transform: translate(-500px,400px);
    transform: translate(-500px,400px);
}
.a1 p:nth-child(3){
    -webkit-transform: translate(-600px,400px);
    transform: translate(-600px,400px);
}
.a1 p:nth-child(2){
    -webkit-transform: translate(500px,400px);
    transform: translate(500px,400px);
}
#a1 p:nth-child(1){
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
#a1 p:nth-child(3){
    -webkit-transition: 1.5s;
    transition: 1.5s;
}
#a1 p:nth-child(2){
    -webkit-transition: 1s;
    transition: 1s;
}

#a1 p{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    font-size: 30px;
    margin-top: 55px;
    font-family: Microsoft YaHei;

}

.a2{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:15%;
    color: #fff;
    line-height: 26px;
    font-size: 20px;
}
.a2 img{
    width: 200px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    left:52%;
    top:-181%;
}
.a2 p:nth-child(1){
    -webkit-transform: translate(-500px,0);
    transform: translate(-500px,0);
}
.a2 p:nth-child(3){
    -webkit-transform: translate(-500px,0);
    transform: translate(-500px,0);
}
.a2 p:nth-child(2){
    -webkit-transform: translate(500px,0);
    transform: translate(500px,0);
}
.a2 p:nth-child(4){
    -webkit-transform: translate(500px,0);
    transform: translate(500px,0);
}
#a2 p{
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition: 1s;
    transition: 1s;
    font-size: 30px;
    margin-top: 10px;
    font-family: Microsoft YaHei;

}

@-webkit-keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg) scale(0.2);
        transform: rotate(0deg) scale(0.2);
    }
    100%{
        -webkit-transform:rotate(720deg) scale(1);
        transform:rotate(720deg) scale(1);
    }
}
#a2 img{
    -webkit-animation:rotate 1s ease-in-out ;
    animation:rotate 1s ease-in-out ;
}
@keyframes rotate {
    0%{
        -webkit-transform: rotate(0deg) scale(0.2);
        transform: rotate(0deg) scale(0.2);
    }
    100%{
        -webkit-transform:rotate(720deg) scale(1);
        transform:rotate(720deg) scale(1);
    }
}
#a2 img{
    -webkit-animation:rotate 1s ease-in-out ;
    animation:rotate 1s ease-in-out ;
}
.a3 p:nth-child(1){
    font-size: 60px;
    color: white;
    left: 30%;
    top: 40%;
    position: absolute;
    z-index:10;

}

.a3 p:nth-child(2){
    font-size: 60px;
    color: black;
    left: 30.5%;
    top: 40.5%;
    position: absolute;

}
.a3 span:nth-child(2){

    left: 48%;
    bottom: 5%;
    position: absolute;

}
.a3 span:before{
    content: "";
    width: 15px;
    height:15px;
    border-right:4px solid #fff;
    border-top:4px solid #fff;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: absolute;
    left:45%;
    bottom:120% ;
}
/*.a3 p{*/
    /*text-shadow: 0 0 0 rgb(188, 178, 188),*/
    /*1px -1px 0 rgb(173, 163, 173),*/
    /*2px -2px 0 rgb(157, 147, 157),*/
    /*3px -3px 0 rgb(142, 132, 142),*/
    /*4px -4px 0 rgb(126, 116, 126),*/
    /*5px -5px 0 rgb(111, 101, 111),*/
    /*6px -6px 0 rgb(95, 85, 95),*/
    /*7px -7px 0 rgb(79, 69, 79),*/
    /*8px -8px 7px rgba(0, 0, 0, 0.35),*/
    /*8px -8px 1px rgba(0, 0, 0, 0.5),*/
    /*0 0 7px rgba(0, 0, 0, 0.2);*/
/*}*/
